{% load cache %}

{% if not module.is_empty %}
    <div {% if index %}id="module_{{ index }}"{% endif %} class="{{ module.render_css_classes }} daycare-module">
        <h2>{{ module.title }}</h2>
        <div>
            {% spaceless %}
            {% if module.pre_content %}
                <p>{{ module.pre_content }}</p>
            {% endif %}
            <div class="stats">
                {% cache 90 daycare_counts %} {# be nice and cache calculated counts #}
                    <p class="info info-redirects">
                        <span class="number draft-redirects">{{ module.draft_redirects_count }}</span>
                        redirect{{ module.draft_redirects_count|pluralize }} need approval.
                    </p>
                    <p class="info info-urls">
                        <span class="number urls-without-redirect">{{ module.urls_without_redirects_count }}</span>
                        URL{{ module.urls_without_redirects_count|pluralize }} might need creating redirect.
                    </p>
                    <div style="clear:both;"></div>
                    <p class="info info-urls">
                        <span class="number hits-month">{{ module.urlhits_count_last_month }}</span> wrong URL hits in last 30 days.
                    </p>
                    <p class="info info-urls">
                        <span class="number hits-week">{{ module.urlhits_count_last_week }}</span> wrong URL hits in last 7 days.
                    </p>
                    <div style="clear:both;"></div>
                {% endcache %}
            </div>
            {% block module_content %}
                {% for model in module.apps %}
                    <a class="model_block"  href="{{model.0.admin_url}}">
                        <h3 style="background-image:url({{module.icons_dir}}{{model.1.icon}})">{{model.1.name}}</h3>

                        {% if model.1.description %}
                            <div class="description">
                                {{model.1.description|safe}}
                            </div>
                        {% endif %}
                    </a>
                {% endfor %}
                <div style="clear:both;"></div>
            {% endblock %}
            {% if module.post_content %}
                <p>{{ module.post_content }}</p>
            {% endif %}
            {% endspaceless %}
        </div>
    </div>
{% endif %}
